@import "./custom_colors";

.notes{
  height: calc(100% - 70px);
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
}

.bm-menu {
  background: white;
  padding-top: 10px;
}

.list-item.is-active{
  background-color: #e4e4e4;
}

  .list-item{
    padding: 8px;
    display: block;
  }

.notes-editor{
  padding: 0;
  height: calc(100% - 43px);

  .quill{
    height: 100%;
  }
}